.target
{
	position: absolute;
	width: 610px;
	height: 450px;
	background-image: url("../img/sprite_sheet.png");
	background-position: 1220px 0%;
	opacity: 0;
}
.explosion
{
	position: absolute;
	width: 100px;
	height: 100px;
	background-position: 0 0;
	background-image: url("../img/explosion.png");
}
