body{
    background-color: rgb(26, 27, 36);
    color: white;
    font-family: 'Montserrat';
    font-weight: 800;
}

h1,h2,h3,h4,h5{
    font-weight: 800;
}

p{
    font-weight: 400;
}

.container{
    width: 95%;
}

#Logo{
    width: 120px;
    height: auto;
}

.section-title-div{
    background-color: rgb(8, 10, 17);
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-title{
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#editor{
    margin: 0;
}

/*** Game screen ***/

#phone{
    margin: 6%;
}

#phone.landscape{
    transform: rotate(90deg);
}

#inlineFrame{
    position: absolute;
    border:0;

    width:100%;
    height:100%;

    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

@media only screen and (min-width : 600px) {
    #inlineFrame{
        margin-top:200px;
    }

    #inlineFrame.portrait{
        width:550px;
        height:570px;
    }
    
    #inlineFrame.landscape{
        width:550px;
        height:570px;
    }
}

