body{
    background-color: black;
    color: white;
}

.container{
    width: 90%;
}

#Logo{
    width: 120px;
    height: auto;
}

nav {
    position: fixed;
    z-index: 99999999;
    background-color: rgb(66, 0, 128, 0.3);
    text-align: center;
}

.nav-wrapper {
    text-align: center;
}

.menu-wrapper{
    margin-left: 10%;
}

.sidenav {
    z-index: 999999999;
}

.img-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 8px;
}

.inventory-component{
    margin-left: 15px;
}

.inventory-component .img-icon{
    margin-left: 15px;
    height: 64px;
    width: 64px;
}

.card-image-placeholder{
    background-color: black;
    text-align: center;
}

.card-image{   
    object-fit: fill;
    width: 100%;
    height: 275px;
}

.row{
    margin-bottom: 75px;
}

.row .col {
    padding: 5;
}

#bronze-circle {
    background-color: rgb(80, 59, 3);
}
#silver-circle {
    background-color: silver;
}
#gold-circle {
    background-color: gold;
}

.trophy-circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: #fff;
    margin-left: 2px;
    margin-right: 2px;
}

.trophy-circles{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}